div(class=css12Col)
  .textCenter
    h2 The community
    p MaltaJS is the front-end community in Malta: born in 2016 as internal guild at Betsson, now it is open to all the developers on the island.

    p Our aim is to provide a place to share knowledge and technologies, through meetings and talks.

    p Do you think you have a good idea for a talk, hackathon, demo or peer-learning?

    a(href='https://www.facebook.com/groups/941691142568690') Join us!
 

