- var cssColumns = "col-xs-12 col-sm-12 col-md-12"
- var css12Col = "col-xs-12"

doctype html
html
  link(rel='shortcut icon', type='image/png', href='favicon.ico')
  link(rel='stylesheet', type='text/css', href='dist/css/styles.min.css')
  link(type='text/css', rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
  link(rel='stylesheet', type='text/css', href='//fonts.googleapis.com/css?family=Open+Sans')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  meta(charset='UTF-8')

  head
    title MaltaJS
  body

    div.container-fluid

      header.menu
        include menu

      section#home.row.banner
        include banner

      section#about.row.content
        include about

      footer.footer.row
        include footer

