nav.navbar.navbar-default
  .container
    .navbar-header
      a(href='#home')
        .logo
      button.navbar-toggle
        span.sr-only
        span.icon-bar
        span.icon-bar
        span.icon-bar
    .collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li
          a(href='#about') About
        li
          a(href='#contacts') Contacts
